<!-- <script src="https://keepandroidopen.org/banner.js"></script> -->
<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
			<!--<span class="footer__copyright-credits">{{ T "footer_credits" | safeHTML }}</span> -->
			<span class="footer__cv-section"> <a href='/bio/cv'>Curriculam Vitae</a> </span>
			<span class="footer__hireme-section"><a href='mailto:0nkzhmhoq@mozmail.com'> HIRE ME</a></span>
		</div>
	</div>
</footer>